/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Cardo', serif;
  font-family: 'Inter', sans-serif;
}

:root {
  --white: #fff;
  --blue: #1b3764;
  --gray: #969AA0;
  --light-gray: #b4c7e7;
  --yellow: #ffca42;
  --link_light: #f6f8fC;
  --prim_btn_text: #1b3764;
  --wrapper_gray: #f5f8fc;
}

.wrapper__blue {
  background-color: var(--blue);
}

.wrapper__white {
  background-color: var(--white);
}

.wrapper__gray {
  background-color: var(--wrapper_gray);
}

.content {
  margin: 0 auto;
  max-width: 1300px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.header_container {
  padding: 20px 0 20px;
}

.left {
  display: flex;
  align-items: center;
}

.header_left {
  gap: 35px;
}

.social_list {
  display: flex;
  gap: 10px;
}

.social_list>li>a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook_link,
.twitter_link,
.linkedin_link {
  margin: 0 auto;
  width: 45px;
  height: 45px;
  background-color: var(--white);
}

.social_image {
  font-size: 1em;
  width: 15px;
  height: 15px;
}

.right {
  display: flex;
  align-items: center;
}

.header_right>a {
  display: block;
}

.navigation {
  padding: 0 24px;
  margin-right: 16px;
}

.nav_list {
  display: flex;
  gap: 47px;
}

.nav_link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.17px;
  color: var(--link_light);
}

.nav_link.active {
  color: var(--yellow);
}

.cart_buy {
  width: 17px;
  height: 17px;
}

.header_btn {
  margin-left: 50px;
}

.primary_btn {
  width: 222px;
  height: 66px;
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.57px;
  color: var(--prim_btn_text);
  background-color: var(--yellow);
  border: none;
  cursor: pointer;
}

.welcome {
  padding: 100px 0;
}

.welcome_left_content {
  margin-left: 24px;
  max-width: 589px;
}

.welcome_h4_container {
  display: flex;
  position: relative;
}

.yellow_line {
  margin: 0;
  top: 17px;
  position: absolute;
  width: 35px;
  height: 2px;
  background: var(--yellow);
}

.welcome_h4 {
  margin-left: 49px;
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  letter-spacing: 1.2px;
  color: var(--white);
}

.primary_text {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 63px;
  line-height: 78px;
  letter-spacing: 1.3px;
  color: var(--white)
}

.secondary_text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  color: var(--gray);
}

.welcome_secondary_text {
  margin-top: 24px;
  font-size: 18px;
  color: var(--light-gray);
}

.welcome_btns {
  display: flex;
  gap: 51px;
  align-items: center;
  margin-top: 22px;
}

.welcome_btn_tertiary {
  width: 155px;
  height: 32px;
}

.tertiary_btn {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.38px;
  text-transform: capitalize;
  color: var(--white);
  border: none;
  border-bottom: 2px solid var(--white);
  background-color: inherit;
  cursor: pointer;
}

.book_description {
  display: flex;
  justify-content: space-between;
}

.welcome_book_description {
  margin-top: 40px;
  gap: 60px;
}

.description_pages,
.description_length,
.description_raiting {
  position: relative;
  display: flex;
  gap: 12px;
}

.book_description_header::before {
  content: ' ';
  display: block;
  position: absolute;
  left: -25px;
  top: 5px;
  width: 16px;
  height: 16px;
  background-color: var(--yellow);
  border-radius: 50%;
}

.welcome_description_pages,
.welcome_description_length,
.welcome_description_raiting {
  flex-direction: column;
  margin-left: 16px;
}

.book_description_header {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.48px;
  color: var(--white)
}

.book_description_text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: var(--light-gray);
}

.author {
  padding: 130px 0 90px;
}

.h2_header {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  color: var(--blue);
}

.after_header_h2 {
  width: 50px;
  height: 3px;
  background: var(--yellow);
  margin-top: 23px;
  border: none;
}

.author_container {
  margin-top: 10px;
}

.author_right_content,
.author_left_container {
  gap: 30px;
}

.about_book {
  display: flex;
  flex-direction: column;
  max-width: 315px;
  margin-top: 38px;
  align-items: flex-start;
}

.about_book_header {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.32px;
  color: var(--blue);
}

.about_book_price {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 33px;
  color: var(--yellow);
  margin-top: 7px;
}

.about_book_text {
  max-width: 287px;
  margin-top: 17px;
}

.about_book_type {
  position: relative;
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: var(--blue);
  margin-top: 13px;
  margin-left: 26px;
}

.about_book_type>span::before {
  position: absolute;
  display: block;
  content: ' ';
  left: -26px;
  top: 7px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--yellow);
}

.secondary_btn {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.38px;
  color: var(--blue);
  width: 206px;
  height: 66px;
  background-color: inherit;
  border: 2px solid var(--yellow);
  cursor: pointer;
}

.about_book_btn {
  margin-top: 9px;
}

.about {
  padding: 150px 0 140px;
}

.about_left {
  position: relative;
  min-width: 545px;
  height: 640px;
  margin-left: 40px;
  border: 10px solid var(--yellow);
}

.about_left>img {
  position: absolute;
  top: -50px;
  left: -50px;
}

.about_right {
  max-width: 605px;
  flex-direction: column;
}

.about_header {
  margin-top: 56px;
}

.about_text {
  line-height: 34px;
}

.about_author_stat {
  min-width: 605px;
  display: flex;
  gap: 26px;
  margin-top: 20px;
}

.author_stat_block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 12px;
  border-right: 1px solid var(--yellow);
}

.author_stat_block:last-child {
  border-right: none;
}

.author_stat_num {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 77px;
  color: var(--blue)
}

.author_stat_text {
  font-size: 17px;
}

.about_author_info {
  align-self: flex-start;
  margin-top: 55px;
  width: 484px;
  height: 161px;
  background-color: var(--blue);
}

.about_author_info_container {
  padding: 20px;
  gap: 36px;
}

.about_author_info_right {
  flex-direction: column;
  flex-grow: 1;
  align-items: start;
}

.author_ifo_header {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: var(--yellow);
  margin-bottom: 10px;
}

.author_info_link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.19px;
  color: var(--light-gray);
}

.author_info_link>span {
  margin-right: 10px;
}

.trusted {
  padding: 110px 30px 170px
}

.trusted_container {
  margin-top: 40px;
  display: flex;
  gap: 16px;
}

.trusted_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}

.trusted_card_header {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--blue);
}

.trusted_card_text {
  text-align: center;
  padding: 0 10px;
}

.get_book {
  padding: 70px;
}

.get_book_container {
  gap: 130px;
}

.get_book_left {
  margin-top: 70px;
  flex-direction: column;
  align-items: flex-start;
}

.get_book_header {
  margin-top: 15px;
  color: var(--white);
}

.get_book_text {
  margin-top: 28px;
}

.get_book_btn {
  margin-top: 10px;
  width: 220px;
  color: var(--white);
}

.get_book_right {}